
.v-content__wrap {
	max-width: 920px !important;
  margin: 0 auto;
}

.v-list-item__content, .v-select__selections {
	text-transform: capitalize
}

::-webkit-scrollbar {
	width: 3px;
	pointer-events: none;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 15px;
}
::-webkit-scrollbar-thumb {
	background: #d4d4d4;
	border-radius: 15px;
	height: 40px;
}

@import "./styles/apartment-card.less";
@import "./styles/apartment-table.less";